# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
frontend/.env
frontend/.env.local
frontend/.env.development
frontend/.env.production
frontend/.env.test
frontend/node_modules
dist
dist-ssr
*.local

backend/node_modules
backend/.env
backend/.env.local
backend/.env.development
backend/.env.production
backend/.env.test
backend/node_modules


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
